################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockMeInTime/obj
/timeblocking-app-draft.kra~
/timeblocking-app-draft.kra
/BlockMeInTime/bin
/packages
